html {
            height: 100%;
            position: relative;
        }

        html::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(magazin.jpg) center/cover;
            filter: blur(5px);
            z-index: -1;
        }

        /* Стили для основного контента */
        body {
            margin: 0;
            min-height: 100vh;
            position: relative; /* Важно для корректного позиционирования */
             
            text-align: center;
        }

        .content {
            padding: 20px;
            color: #333;
        }

        /* Если нужен полностью прозрачный фон для body */
        .transparent-body body {
            background: transparent;
        }

.chbox {
  background: rgba(64, 224, 208, 0.5); /* Цвет #40E0D0 с прозрачностью 50% */
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  height: 500px;
  margin: auto;
  box-shadow: 0 0 20px 10px rgba(255,255,255,0.5);
  position: relative;
  z-index: 1;
}
 p{
   text-decoration-style: none;
 }

.btn {
   border-radius: 10px;
   background-color: rgba(255,255,255,0.5);
   height: 30px;
   width: auto;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-block-end: <'border-width'>;
  
}

/* Скрываем оригинальные чекбоксы */
input[type="checkbox"] {
  display: none;
}

/* Стиль для активного состояния */
input[type="checkbox"]:checked + .btn {
  background-color: rgba(255,255,255,1); /* Пример изменения фона */
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Добавляем эффект нажатия */
}

input[type="checkbox"]:checked + .btn::after {
  content: "✓";
  margin-left: auto;
  color: green;
  width: auto;
}

.glow {
  text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.8);
}

.input-group {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
            flex-direction: column;
        }
        #itemInput {
            flex-grow: 1;
            padding: 10px;
            font-size: 16px;
        }
        
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            margin: 5px 0;
            background: #f8f9fa;
            border-radius: 4px;
        }
        .delete-btn {
            background: #dc3545;
            padding: 5px 10px;
        }

.addbtn {
    border: none;
    background: green;
    width: 100px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    
}
